<%# CHAMAR O TITLE %>
<div class="container"><h1>Edit article</h1>
  <h1><%= @article.title %></h1>
  <br>
  <h2><%= @article.content %></h2>
  <br>
</div>

<div class="container">
<h2><%= link_to "Back to List", '/articles', class: "btn btn-primary"%></h2>
<h2><%= link_to "Edit article", edit_article_path(@article), class: "btn btn-primary"%></h2>
</div>